.solutions-section {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-main-mobile.jpg);
  background-repeat: no-repeat;
}

.solution-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.solutions-section__title {
  display: block;
  color: var(--bg-color-main);
  margin: auto;
  margin-bottom: 30px;
  max-width: 360px;
  @include font(26px, 900, 42px);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.solutions-section__btn-txt {
  padding: 10px 32px;
}

@media screen and (min-width: 768px) {
  .solutions-section {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-main-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .solutions-section {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .solutions-section__title {
    max-width: 696px;
    @include font(44px, 900, 60px);
  }
}
