.address-link {
  display: flex;
  align-items: center;
  color: var(--font-color-main);

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  transition: color var(--transformation);

  &:hover,
  &:focus {
    color: var(--logo-color);
  }

  @media screen and (min-width: 1200px) {
    & {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.address-link_dark-theme {
  color: rgba(255, 255, 255, 0.6);
}
