.logo {
  margin-bottom: 20px;
  color: var(--third-font);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;

  transition: color var(--transformation);
  &:hover,
  &:focus {
    color: var(--logo-color);
  }
}

.logo_dark-theme {
  color: var(--bg-color-main);
}

.logo__accent {
  transition: color var(--transformation);
  color: var(--logo-color);
  .logo:hover > &,
  .logo:focus > & {
    color: var(--third-font);
  }

  .logo_dark-theme:hover > &,
  .logo_dark-theme:focus > & {
    color: var(--bg-color-main);
  }

  @media screen and (min-width: 1200px) {
    & {
      font-size: 26px;
      line-height: 31px;
      letter-spacing: 0.03em;
    }
  }
}
