.modal-form {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  color: var(--font-color-secondary);
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form__input-desc {
  color: var(--font-color-main);
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.modal-form__input-wrapper {
  position: relative;
  height: 40px;
}

.modal-form__input {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  padding-right: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    outline: none;
    border-color: var(--logo-color);
  }
}

.modal-form__sprites {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  .modal-form__input:focus + & {
    fill: var(--logo-color);
  }
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--logo-color);
  }
}

.modal-form__checkbox-block {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.modal-form__checkbox-block-checkbox {
  opacity: 1;
  position: absolute;
}
.modal-form__checkbox-block-desc {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--font-color-main);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;

  &::before {
    display: block;
    min-width: 16px;
    content: "";
    margin-bottom: 2px;
    width: 16px;
    height: 15px;
    border: 1px solid black;
    border-radius: 2px;
    margin-right: 5px;
    overflow: hidden;

    .modal-form__checkbox-block-checkbox:checked + & {
      background-image: url(../../images/icon-check.png);
      background-size: cover;
      border: none;
    }
  }
}

.modal-form__checkbox-block-desc-link {
  margin-left: 5px;
  color: var(--logo-color);
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .modal-form__checkbox-block-desc {
    font-size: 14px;
    line-height: 24px;
  }
}
