:root {
  --logo-color: #2196f3;
  --font-color-main: #757575;
  --font-color-secondary: #212121;
  --bg-color-secondary: #2f303a;
  --bg-color-third: #f5f4fa;
  --bg-color-main: #ffffff;
  --third-font: #000000;
  --transformation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
